.sos-notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.sos-notification-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.sos-notification-content h2 {
    margin-top: 0;
}

.sos-notification-content ul {
    list-style: none;
    padding: 0;
}

.sos-notification-content li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.sos-notification-content li div {
    margin-bottom: 5px;
}

.more-button-sos {
    background-color: var(--button-font-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    float: left;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.close-popup {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}